{% extends 'base.html' %}

{% block title %}
Delete Application
{% endblock %}

{% block content %}

<div class="card shadow">

  <div class="card-header bg-danger text-white">

    <h3>Delete Confirmation</h3>

  </div>

  <div class="card-body">

    <h5>

      Are you sure you want to delete

      <strong>

        {{ job.company_name }}

      </strong>

      ?

    </h5>

    <form method="POST">

      {% csrf_token %}

      <button class="btn btn-danger">

        Yes, Delete

      </button>

      <a href="{% url 'job_list' %}" class="btn btn-secondary">

        Cancel

      </a>

    </form>

  </div>

</div>

{% endblock %}